.about-audit{
    padding: 10rem 0;
    &__content{
        width: 48%;
        .base-covers__list {
            margin-top: 3rem;
        }
    }
    &__img {
        width: 48%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}