.about-page {
    padding: 5rem 0 15rem;
    .feature-list {
        margin-bottom: 12rem;
        margin-top: 10rem;
    }
}
.feature-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem 5rem;
    li {
        width: 25%;
        padding: 0 1rem;
        margin-bottom: 2rem;
    }
    &__item {
        border: 1px solid var(--text-color-light);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 3rem;
        min-height: 32rem;
        &__icon {
            margin-bottom: 3rem;
        }
        p {
            min-height: 30%;
            text-transform: uppercase;
        }
    }
}
.about-team {
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 7rem;
    &__img {
        width: 48%;
        position: relative;
        transform: translateY(-4.5rem);
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            max-width: 43rem;
            object-fit: contain;
        }
    }
    &__content {
        width: 50%;
        background-color: #F5F5F5;
        padding: 4rem;
        position: relative;
        &::before {
            content: '';
            background-color: #F5F5F5;
            width: 80%;
            height: 100%;
            position: absolute;
            bottom: 0;
            right: 99%;
        }
        &__icon {
            margin-bottom: 3rem;
        }
        .member-name {
            margin-top: 3rem;
            line-height: 1.2;
        }
    }
}
.news-slider {
    width: 90%;
    max-width: 1000px;
    margin: 6rem auto 4rem;
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all .3s;
        z-index: 2;
        &:hover {
            color: var(--blue);
        }
        &.prev-arrow{
            left: -10rem;
        }
        &.next-arrow {
            right: -10rem;
        }
    }
}
.news-slide {
    padding: 0 5px;
}
.news-slide__content {
    border: 1px solid var(--text-color-light);
    padding: 2.5rem;
    display: flex;
    align-items: center;
}
.news-date {
    color: var(--text-color-light);
    margin-right: 7rem;
}
.news-body{
    &__link {
        text-decoration: underline;
        text-transform: capitalize;
        line-height: 1.2;
        font-size: 2rem;
    }
    &__text {
        font-size: 12px;
        color: var(--text-color-light)
    }
}