.advantages {
    padding: 8rem 0;
    min-height: 57rem;
    background: #0297c3 url("../img/bg/journey.jpeg") 0 0 no-repeat;
    color: #fff;
    &__left {
        width: 40%;
        line-height: 1.2;
    }
    &__right {
        width: 50%;
    }
}