.base-covers {
    padding: 12rem 0;
    &__left {
        width: 47%;
    }
    &__right {
        width: 47%;
        &__title {
           margin-bottom: 1em; 
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 1.4rem;
        line-height: 1.3;
        li {
            width: 48%;
            margin-bottom: 2em;
            a{
                display: inline-block;
                position: relative;
                padding-left: 1.5em;
                &::before {
                    content: '';
                    width: 0.92em;
                    height: 1.7em;
                    background: url('../img/icons/angle-right_blue.svg') 0 0 no-repeat;
                    background-size: contain;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &--full-width {
            li {
                width: 100%;
            }
        }
    }
}