.blog {
    padding: 7rem 0;
    position: relative;
    z-index: 2;
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
        & > li {
            width: 25%;
            padding: 0 1rem;
            margin-bottom: 2rem;
        }
        &__item {
            &__img {
                display: block;
                width: 100%;
                height: 25rem;
                line-height: 0;
                margin-bottom: 2rem;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transition: all .3s;
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }

            &__content {
                &__title {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    line-height: 1.2;
                    height: 3.6em;
                    margin-bottom: 1em;
                }

                &__options {
                    color: var(--text-color-light);
                    padding-bottom: 0.5rem;
                    border-bottom: 1px solid currentColor;
                    font-size: 1.4rem;
                    .tags {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}
.date {
    white-space: nowrap;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    color: var(--text-color-light);
    text-transform: lowercase;
    li {
        margin: 0 0.3em;
    }
    &--sort {
        margin-bottom: 10px;
        li {
            margin-bottom: 10px;
            a.active {
                color: var(--blue)
            }
        }
    }
}
.blog-page {
    padding: 7rem 0 15rem;
}