.breadcrumbs {
    margin: 4.5rem 0;
    &__list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: var(--text-color-light);
        text-transform: capitalize;
        font-size: 12px;
        li {
            &:not(:last-child) {
                margin-right: 0.5em;
                &::after {
                    content: '–';
                    display: inline-block;
                    margin-left: 0.3em;
                }
            }
            &:last-child {
                a {
                    cursor: default;
                    pointer-events: none;
                }
            }
        }
    }
}