.contact-block {
    position: relative;
    padding: 7rem 0 10rem;
    &__left {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        &__top {
            margin-bottom: 5rem;
            .h2 {
                margin-bottom: 0.5em;
            }
            p {
                max-width: 280px;
            }
        }
    }
    &__right {
        width: 45%;
        &__top {
            display: none;
        }
    }
    form,
    .container {
        position: relative;
        z-index: 2;
    }
    &__decor {
        position: absolute;
        top: -30%;
        left: 0;
        height: 80rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.input-wrapper {
    &:not(:last-child){
        margin-bottom: 20px;
    }
    input, textarea {
        display: block;
        width: 100%;
        font-family: var(--main-font);
        color: var(--text-color);
        border: none;
        border-bottom: 1px solid currentColor;
        font-size: 16px;
        height: 50px;
        &::placeholder {
            font-family: var(--main-font);
            color: var(--text-color-lighter);
            transition: all .3s;
        }
        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }
    }
    textarea {
        resize: none;
    }
    &.error {
        input, textarea {
            border-color: currentColor;
            color: red;
            &::placeholder {
                color: currentColor
            }
        }
        .error-text {
            display: block;
        }
    }
    .error-text {
        font-size: 12px;
        color: red;
        margin-top: 5px;
        display: none;
    }
}
.contact-page {
    padding: 6rem 0 12rem;
    &__content {
        .social {
            margin: 3rem 0;
        }
    }
}
.map {
    margin: 5rem 0;
    height: 500px;
    iframe {
        width: 100%;
        height: 100%;
    }
}