.features {
    padding: 7rem 0;
    &__content {
        display: flex;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 2rem 0;
        &__item {
            width: 50%;
            padding-right: 3rem;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                width: 3.5rem;
                height: 3.5rem;
                flex: none;
                background: url('../img/icons/arrow-bottom_black.svg') 0 0 no-repeat;
                background-size: contain;
                align-self: normal;
                margin-right: 4rem;
            }
            &__title {
                font-size: 10rem;
                font-weight: 300;
                line-height: 1;
            }
            &__descr {
                margin-left: 1.4em;
            }
        }
    }
}
