.first-screen {
    background: #000 url('../img/bg/main-screen.jpeg') 0 0 no-repeat;
    background-size: cover;
    padding: 27rem 0 12rem;
    margin-bottom: 5rem;
    color: #fff;
    .h1 {
        font-weight: 300;
        margin-bottom: 1em;
    }
    &__top {
        margin-bottom: 6.7rem;
        .project-name {
            display: block;
            font-weight: 700;
            font-size: 1.5em;
            line-height: 1.2;
        }
        p {
            max-width: 640px;
        }
    }

    &__bottom {
        p {
            max-width: 390px;
            text-align: right;
            position: relative;
            padding-bottom: 1em;
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background-color: currentColor;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}