@font-face {
	font-family: "ProximaNova";
	src: url("../font/ProximaNova/ProximaNova-Black.woff") format("woff");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}
@font-face {
	font-family: "ProximaNova";
	src: url("../font/ProximaNova/ProximaNova-Extrabld.woff") format("woff");
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}
@font-face {
	font-family: "ProximaNova";
	src: url("../font/ProximaNova/ProximaNova-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "ProximaNova";
	src: url("../font/ProximaNova/ProximaNova-Semibold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: "ProximaNova";
	src: url("../font/ProximaNova/ProximaNova-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "ProximaNova";
	src: url("../font/ProximaNova/ProximaNova-Light.woff") format("woff");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: "ProximaNova";
	src: url("../font/ProximaNova/ProximaNovaT-Thin.woff") format("woff");
	font-style: normal;
	font-weight: 200;
	font-display: swap;
}

