/*Footer*/ 
.footer{
	background: #030510;
    overflow: hidden;
    position: relative;
    padding: 7rem 0;
    color: #fff;
    z-index: 2;
    &__left{
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        &__bottom {
            color: var(--text-color-light);
            p {
                max-width: 286px;
            }
            .social {
                margin-top: 4rem;
            }
        }
    }
    &__right {
        width: 48%;
        display: flex;
        flex-wrap: wrap;
        .footer__menu {
            width: 33.33%;
        }
    }

    &__menu {
        font-size: 1.4rem;
        &:not(:last-child){
            margin-bottom: 7rem;
        }
        li {
            padding-right: 2em;
            &:not(:last-child) {
                margin-bottom: 1.5em;
            }
        }
        a{
            color: var(--text-color-light);
            &:hover {
                color: var(--blue);
            }
        }
        li.footer__menu__title {
            margin-bottom: 2em;
            font-size: 1.14em;
            a {
                color: #fff;
                font-weight: 700;
                text-transform: capitalize;
            }
        }
    }
}
.social {
    display: flex;
    flex-wrap: wrap;
    li {
        margin: 0 .5em;
        &:first-child {
            margin-left: 0;
        }
        a {
            &:hover {
                opacity: 0.8;   
            }
        }
    }
}