/*Header*/
.header {
  width: 100%;
  left: 0;
  top: 0;
  color: #fff;
  position: relative;
  padding-top: 5px;
  z-index: 2;
  &--absolute {
    position: fixed;
   transition: all .3s;
    z-index: 10;
    &.scrolled {
      background: rgba(#000, .7);
      backdrop-filter: blur(5px);
    }
  }
  &--white {
    color: var(--text-color);
    border-bottom: 1px solid #D9D9D9;
    .btn--outline-white {
      color: currentColor;
      &:hover {
        color: #fff;
      }
    }
    .logo__white {
      display: none;
    }
    .burger {
      color: currentColor
    }
    .submenu {
      background: rgba(247, 247, 247, 0.8);
    }
  }
  &--dark {
    .logo__dark {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
  .logo {
    display: inline-block;
    position: relative;
  }
  .btn {
    padding: 8px 15px 6px;
    min-width: unset;
    border-width: 1px;
  }
}
.menu {
  display: flex;
  margin-right: 2em;
  & > li {
    padding: 1.375em 2em;
    @media (min-width: 1201px) {
      &:hover {
        color: var(--blue);
        .submenu {
          opacity: 1;
          visibility: visible;
        }
        a {
          color: currentColor;
          &::after {
            opacity: 1;
          }
        }
      }
    }
    & > a {
      font-weight: 400;
      display: block;
      position: relative;
      &::after {
        content: "";
        width: 120%;
        height: 2px;
        background-color: var(--blue);
        position: absolute;
        bottom: -1.375em;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: all 0.3s;
      }
    }
    &.active {
      & > a {
        font-weight: 700;
        color: var(--blue);
      }
    }
  }
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  padding: 1em 0;
  visibility: hidden;
  transition: opacity 0.3s;
  & > ul {
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.4rem;
    color: var(--text-color-light);
    a {
      display: block;
      padding: 1em 2em;
      white-space: nowrap;
      &:hover,
      &.active {
        color: var(--blue);
      }
    }
  }
}
