.in-box {
    padding: 5rem 0 15rem;
    &__content {
        width: 50%;
        &__title {
            margin-bottom: 2em;
        }
        .list-plus {
            width: 80%;
        }
    }
    &__img {
        width: 50%;
    }
    &__slider {
        width: 420px;
        margin: 0 auto;
        .slick-track {
            display: flex;
            align-items: center;
        }
        .slick-slide {
            height: auto;
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: all .3s;
            z-index: 2;
            &:hover {
                color: var(--blue)
            }
            &.prev-arrow {
                left: -5rem;
            }
            &.next-arrow {
                right: -5rem;
            }
        }

    }
}