.industries-block {
    padding: 7rem 0;
}
.industries-list {
    margin: 0 -1rem;
    & > li {
        width: 25%;
        padding: 0 1rem;
        margin-bottom: 2rem;
    }
    &__item {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        &__descr {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 2.5rem 2.5rem 5rem;
            color: #fff;
            text-shadow: 1px 1px rgba(#000, .8);
            transition: all .3s;
            &::after {
                content: '';
                width: 1.75em;
                height: 1.75em;
                background: url('../img/icons/arrow-top_white.svg') 0 0 no-repeat;
                background-size: contain;
                position: absolute;
                bottom: 2.5rem;
                left: 2.5rem;
                opacity: 0;
                transition: opacity .3s;
            }
            .h3 {
                line-height: 1.2;
                margin-bottom: 1em;
            }
            .list, .list li {
                list-style-type: disc;
            }
            .list {
                padding-left: 1em;
                opacity: 0;
                transition: opacity .3s;
                li {
                    line-height: 1.2;
                    margin-bottom: 0.5em;
                }
            }
        }
        &__img {
            line-height: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(1)
            }
        }

        &__common {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .h2 {
                font-size: 5rem;
                line-height: 1.1;
            }
        }

        &:hover {
            .industries-list__item__descr {
                background-color: var(--blue);
                text-shadow: none;
                &::after {
                    opacity: 1;
                }
                .list {
                    opacity: 1;
                }
            }
        }
    }
}
.industries-menu-block {
    .container {
        border-top: 1px solid currentColor;
        border-bottom: 1px solid currentColor;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
    }
    &__title {
        display: inline-flex;
        align-items: center;
        &::after {
            content: '';
            width: 1.2em;
            height: 1.2em;
            background: url('../img/icons/arrow_right.svg') 0 center no-repeat;
            background-size: contain;
            margin-left: 0.5em;
            transform: rotate(-45deg);
        }
    }
}
.industries-menu__list {
    font-size: 12px;
    li {
        padding: 0 1em;
    }
    a.active {
        color: var(--blue);
    }
}