.inner-page-first-screen {
    height: 500px;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 0;
        video, img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: right;
        }
    }
    .container {
        position: relative;
        padding-top: 5rem;
        z-index: 1;
    }

    &__content {
        .h1 {
            margin-bottom: 0.75em;
            text-shadow: 1px 1px rgba(#000, .5);
            max-width: 860px;
            line-height: 1.1;
        }
        p {
            max-width: 600px;
            text-shadow: 1px 1px rgba(#000, .5);
        }
        .btn-container {
            margin-top: 8rem;
            .btn {
                &:not(:last-child){
                    margin-right: 3.7rem;
                }
            }
        }
    }
}