.journey-block {
  background: #0297c3 url("../img/bg/journey.jpeg") 0 0 no-repeat;
  background-size: cover;
  padding: 10rem 0 12rem;
  position: relative;
  overflow: hidden;
  color: #fff;
  margin-bottom: 7rem;
  &__content {
    width: 50%;
    &--full-width {
      width: 100%;
    }
    .h2 {
      margin-bottom: 0.5em;
      line-height: 1.1;
    }
    p {
      max-width: 500px;
      margin-bottom: 5em;
    }
    .btn {
      &:hover {
        box-shadow: 0 4px 20px rgba($color: #000000, $alpha: 0.2);
      }
    }
    &__item {
      margin-bottom: 2rem;
      .h4 {
        margin-bottom: 1em;
      }
      p{
        margin-bottom: 2rem;
        max-width: none;
      }
      ul,ol {
        margin-bottom: 2em;
      }
    }
  }

  &__img {
    position: absolute;
    right: -14%;
    top: 8rem;
    width: 80rem;
    height: 80rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      animation: rotate 60s infinite linear;
    }
  }

  &--no-bg {
    background: var(--blue);
    margin-bottom: 0 !important;
    .journey-block__content .h2 {
      margin-bottom: 0.75em;
    }
    .journey-block__content {
      width: 68%;
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg);
  }
}
