:root{
	--main-font: 'ProximaNova', sans-serif;

	--blue: #00A7D7;
	--text-color: #000;
	--text-color-lighter: #393939;
	--text-color-light: #A9A9A9;

	--grey-bg: rgba(247, 247, 247, 0.6);
}
html, body{
	min-height: 100%;
}
html{
	font-size: 10px;
}
body{
	background-color: #fff;
	color: var(--text-color);
	font-size: 1.6rem;
	font-family: var(--main-font);
	line-height: 1.2;
}
.noscroll{
	overflow: hidden;
}
img{
	max-width: 100%;
}
a{
	color: currentColor;
	transition: all .2s;
	&:hover {
		color: var(--blue);
	}
}
h1, .h1,
h2, .h2{
	font-size: 6.4rem;
	line-height: 0.9;
	font-weight: 300;
}
h3, .h3{
	font-size: 2.5rem;
}
h4, .h4{
	font-size: 2rem;
}
h5, .h5 {
	font-size: 1.8rem;
}
p {
	font-size: 1.6rem;
	line-height: 1.2;
	&:not(:last-child) {
		margin-bottom: 1em;
	}
}
.font-900{
	font-weight: 900;
}
.font-600{
	font-weight: 600;
}
.font-700,
b, strong{
	font-weight: 700;
}
.font-300{
	font-weight: 300; 
}
.text-center{
	text-align: center;
}
.text-uppercase{
	text-transform: uppercase;
}
.wrapper{
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
.container{
	width: 100%;
	max-width: 1300px;
	padding: 0 20px;
	margin: 0 auto;
}
.main{
	flex: 1 0 auto;
}
.footer{
	flex: 0 0 auto;
}
.flex{
	display: flex;
}
.flex-wrap{
	flex-wrap: wrap;
}
.align-start{
	align-items: start;
}
.align-center{
	align-items: center;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
.blue {
	color: var(--blue)
}
.black-light {
	color: var(--text-color-lighter)
}

.btn {
	display: inline-flex;
	justify-content: center;
	font-size: 1.6rem;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0.9375em 1.25em;
	min-width: 13.75em;
	color: var(--text-color);
	background: transparent;
	border: 2px solid currentColor;
	border-radius: 4px;
	white-space: nowrap;
	appearance: none;
	outline: none;
	cursor: pointer;
	transition: all .3s;
	&:hover {
		background-color: var(--blue);
		border-color: var(--blue);
		color: #fff;
	}
	&:active {
		background: darken(#00A7D7, 10%);
	}
	&--blue {
		color: #fff;
		background-color: var(--blue);
		border-color: var(--blue);
		&:hover {
			background: darken(#00A7D7, 10%);
			border-color: darken(#00A7D7, 10%);
		}
		&:active {
			background: darken(#00A7D7, 20%);
			border-color: darken(#00A7D7, 20%);
		}
	}
	&--outline-white {
		color: #fff;
		&:hover {
			background-color: var(--blue);
			border-color: var(--blue);
			color: #fff;
		}
		&:active {
			background: darken(#00A7D7, 10%);
			border-color: darken(#00A7D7, 10%);
		}
	}
}

.block-top {
	margin-bottom: 6rem;
	.h2, p {
		width: 50%;
	}
	p {
		max-width: 500px;
	}
	&--full-width {
		.h2, p {
			width: 100%;
		}
	}
}
.for-mobile,
.burger {
	display: none;
}
.text-block {
	padding-bottom: 5rem;
	h1, h2 {
		text-transform: uppercase;
		margin-bottom: 0.5em;
	}
	p  {
		color: var(--text-color-lighter)
	}
	&--page {
		padding: 7rem 0;
		h1, h2, h3, h4 {
			margin-bottom: 1em;
		}
	}
	ol, ol > li {
		list-style: decimal;
	}
	ol {
		padding-left: 1em;
		line-height: 1.3;
		margin: 1.5rem 0;
		& > li {
			&:not(:last-child){
				margin-bottom: .5em;
			}
		}
	}
	ul {
		padding-left: 1em;
		line-height: 1.3;
		list-style: disc;
		margin: 1.5rem 0;
		li{
			list-style: disc;
			&:not(:last-child){
				margin-bottom: .5em;
			}
		}
	}
}
.list-plus {
	li {
		position: relative;
		padding-left: 2em;
		margin-bottom: 1.5em;
		&::before {
			content: '+';
			font-size: 2em;
			font-weight: 300;
			position: absolute;
			left: 0;
			top: .32em;
			transform: translateY(-50%);
			color: var(--text-color-lighter)
		}
	}
}
.img-block {
	padding: 3rem 0;
	text-align: center;
}
.border-bottom {
	border-bottom: 1px solid rgba(#fff, .5);
}