@media (max-width: 1440px) {
  html {
    font-size: 0.7vw;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 0.8vw;
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 16px;
    position: relative;
    color: #fff;
    span {
      width: 100%;
      height: 2px;
      background-color: currentColor;
    }
  }
  .header {
    padding: 20px 0;
    z-index: 10;
    &__right {
      position: absolute;
      height: auto;
      max-height: calc(100vh - 76px);
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
      background-color: #fff;
      flex-direction: column;
      align-items: flex-start;
      display: none;
      top: 100%;
      left: 0;
      color: var(--text-color);
      padding: 20px 20px 70px;
      .btn--outline-white {
        color: currentColor;
      }
    }
  }
  .menu {
    display: block;
    width: 100%;
    margin-right: 0;
    font-size: 18px;
    margin-bottom: 40px;
    & > li {
      padding: 0;
      margin-bottom: 0.5em;
      & > a {
        padding: 5px 0;
      }
    }
    .for-mobile {
      display: block;
    }
    .has-submenu {
      & > a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &::after {
          content: "";
          width: 7px;
          height: 7px;
          border-bottom: 1px solid currentColor;
          border-right: 1px solid currentColor;
          position: static;
          bottom: 0;
          opacity: 1;
          transform: translate(0, 0) rotate(-45deg);
          background: transparent;
        }
      }
    }
  }
  .menu-open {
    overflow: hidden;
    .header {
      &::before {
        content: "";
        width: 100%;
        height: 100vh;
        background-color: rgba(#fff, 0.5);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .header--dark {
      background-color: #fff;
      .logo__dark {
        opacity: 1;
      }
      .logo__white {
        opacity: 0;
      }
    }
    .header__right {
      display: flex;
      box-shadow: 0 18px 20px rgba(#000, 0.2);
      z-index: 5;
    }
    .burger {
      color: var(--text-color);
      span {
        position: absolute;
        left: 0;
        top: 50%;
        &:nth-child(2) {
          opacity: 0;
        }
        &:first-child {
          transform: rotate(45deg);
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
  .first-screen__bottom p,
  .first-screen__top p {
    text-shadow: 1px 1px rgba(#000, 0.5);
  }
  .first-screen__top p {
    max-width: 500px;
  }
  .security-flow__img {
    img {
      width: 100%;
      max-width: 700px;
    }
  }
  .industries-list__item {
    display: block;
    &__descr {
      position: static;
      height: auto;
      padding: 0;
      text-shadow: none;
      margin-top: 10px;
      .list {
        display: none;
      }
      .h3 {
        color: var(--text-color);
        font-size: 16px;
        margin-bottom: 0;
      }
    }

    &__common {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding-bottom: 3.4rem;
    }
  }
  .submenu {
    position: static;
    opacity: 1;
    visibility: visible;
    background: transparent;
    padding-bottom: 0.5em;
    display: none;
    top: 0;
    & > ul {
      display: block;
      color: var(--text-color);
      font-size: 16px;
      padding: 0;
      a {
        padding: 10px 0 5px 2em;
      }
    }
  }
  .submenu-open {
    color: var(--blue);
    & > a::after {
      transform: translate(0, 0) rotate(45deg) !important;
    }
    .submenu {
      display: block;
    }
  }
  a:hover {
    color: currentColor;
  }
  .journey-block__img {
    top: 13rem;
    width: 65rem;
    height: 65rem;
  }
  .scenarios__content__item {
    padding: 3.5rem 5rem;
  }
  .news-slider .slick-arrow.next-arrow {
    right: -5rem;
  }
  .news-slider .slick-arrow.prev-arrow{
    left: -5rem;
  }
}
// 1200
@media (max-width: 990px) {
  html {
    font-size: 1.3vw;
  }
  .first-screen {
    position: relative;
    padding: 20rem 0 8rem;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.4);
      position: absolute;
      top: 0;
      left: 0;
    }
    .container {
      position: relative;
      z-index: 2;
    }
  }
  .security-flow__content__item {
    padding: 1.5em;
  }
  .features__content,
  .contact-block__right__top,
  .solution .container,
  .advantages .container,
  .about-audit .container,
  .in-box .container,
  .about-page .block-top,
  .industries-menu-block .container{
    display: block;
  }
  .contact-block__left__top,
  .tab__content__img {
    display: none;
  }
  .features__content__item,
  .contact-block__right,
  .contact-block__left,
  .footer__right,
  .footer__left,
  .footer__left__bottom,
  .tabs-wrapper .tab__content .ul-list,
  .tabs__list,
  .solution__content,
  .solution__img,
  .advantages__left,
  .advantages__right,
  .about-audit__content,
  .about-audit__img,
  .in-box__content,
  .in-box__img,
  .about-page .block-top .h2,
  .about-page .block-top p {
    width: 100%;
  }
  .journey-block__content {
    width: 80%;
  }
  .blog-list > li,
  .footer__right .footer__menu,
  .feature-list li {
    width: 50%;
  }
  .industries-list > li,
  .about-team__img {
    width: 33.333%;
  }
  .features__content__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .journey-block__img {
    width: 400px;
    height: 400px;
    top: 60%;
  }
  .blog {
    padding: 40px 0;
  }
  .journey-block {
    margin-bottom: 30px;
  }
  .contact-block {
    .container {
      flex-direction: column-reverse;
    }
    &__right {
      margin-bottom: 40px;
      &__top {
        margin-bottom: 30px;
        .h2 {
          margin-bottom: 0.5em;
        }
        p {
          max-width: 280px;
        }
      }
    }
  }
  h1,
  .h1,
  h2,
  .h2 {
    font-size: 40px;
  }
  .features__content__item__title {
    font-size: 70px;
  }
  .industries-list__item__common .h2 {
    font-size: 5vw;
  }
  .industries-list {
    li {
      &:first-child {
        width: 66.6666%;
      }
    }
  }
  .footer {
    padding-bottom: 30px;
    .container {
      flex-direction: column-reverse;
    }
    &__left {
      flex-direction: column-reverse;
      &__bottom {
        border-bottom: 1px solid currentColor;
        padding-bottom: 30px;
        margin-bottom: 30px;
      }
    }
  }
  .footer__right .footer__menu {
    margin-bottom: 30px;
  }
  .footer__left__bottom .social {
    margin-top: 20px;
  }
  .security-flow {
    padding-bottom: 5rem;
  }
  .contact-block__decor {
    left: auto;
    right: 0;
    transform: rotate(180deg);
    height: 200px;
    top: -3%;
  }
  .products-block__item__descr {
    padding-left: 3rem;
  }
  .products-block__item__descr .ul-list {
    margin-bottom: 3rem;
  }
  .tabs__list {
    font-size: 18px;
    justify-content: flex-start;
  }
  .solution__img {
    text-align: center;
    margin-bottom: 30px;
    img {
      max-width: 500px;
    }
  }
  .advantages {
    min-height: auto;
    &__left {
      margin-bottom: 50px;
    }
  }
  .about-audit,
  .services {
    padding: 50px 0;
  }
  .about-audit__img {
    text-align: center;
    margin-top: 50px;
    img {
        max-width: 500px;
    }
  }
  .in-box__img {
    margin-top: 50px;
  }
  .scenarios__content__item {
    padding: 2.5rem;
  }
  .services__item:first-child,
  .services__item{
    width: 33.333%;
  }
  .services__row--two-column .services__item {
    width: 50%;
  }
  .about-page{
    .block-top .h2 {
        margin-bottom: 30px;
    }
  }
  .about-team__content {
    width: 64%;
    &::before {
        width: 40%;
    }
  }
  .news-date {
    margin-right: 3rem;
  }
  .services__item__content {
    padding: 1.5rem;
  }
  .map {
    height: 350px;
  }
  .industries-menu__list {
    white-space: nowrap;
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    li{
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .industries-menu-block__title::after {
    transform: rotate(0);
  }
}
// 990

@media (max-width: 767px) {
  .wrapper {
    overflow-x: hidden;
  }
  html {
    font-size: 1.4vw;
  }
  h1,
  .h1,
  h2,
  .h2 {
    font-size: 30px;
  }
  h3,
  .h3 {
    font-size: 22px;
  }
  h4,
  .h4,
  .btn,
  .news-body__link {
    font-size: 16px;
  }
  h5,
  .h5,
  p,
  .features__content__item__descr,
  .footer__menu,
  .footer__menu li.footer__menu__title,
  .ul-list li,
  .tabs__list,
  .accordeon__title,
  .base-covers__list,
  .list-plus,
  ol,
  .news-body__lin,
  .tags--sort,
  .text-block ul,
  .ul-list,
  body{
    font-size: 14px;
  }
  .industries-list__item__descr .h3,
  .blog-list__item__content__options {
    font-size: 12px;
  }
  .first-screen__top p {
    max-width: 270px;
  }
  .for-mobile,
  .first-screen__bottom,
  .block-top,
  .security-flow__content,
  .footer__right,
  .base-covers .container,
  .about-team {
    display: block;
  }
  .for-mobile.btn {
    display: flex;
  }
  .first-screen__bottom p,
  .block-top .h2 br,
  .blog .block-top .link,
  .news-body__text {
    display: none;
  }
  .popup .btn-container .btn,
  .header__right .btn,
  .block-top .h2,
  .block-top p,
  .security-flow__content__item,
  .journey-block__content,
  .btn,
  .blog-list > li,
  .products-block__item__img,
  .products-block__item__descr,
  .base-covers__left,
  .base-covers__right,
  .base-covers__list li,
  .journey-block--no-bg .journey-block__content,
  .scenarios__content__item,
  .in-box__slider,
  .feature-list li,
  .about-team__img,
  .about-team__content,
  .scenarios__content--three-column .scenarios__content__item,
  .industries-menu-block__title {
    width: 100%;
  }
  .first-screen__bottom {
    .btn {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  .input-wrapper input,
  .input-wrapper textarea {
    height: 40px;
    &::placeholder {
      font-size: 12px;
    }
  }
  .block-top .h2,
  .first-screen {
    margin-bottom: 20px;
  }
  .first-screen {
    min-height: 100vh;
  }
  .security-flow {
    padding: 30px 0;
    margin: 0 -20px;
    .block-top,
    .security-flow__img {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .security-flow__content__item:not(:last-child) {
    border-right: none;
  }
  .security-flow__content__item {
    padding: 30px 20px;
    &:last-child {
      border-bottom: 1px solid currentColor;
    }
  }
  .security-flow__content__item .h4 {
    margin-bottom: 1em;
  }
  .industries-list__item__common .h2 {
    font-size: 8vw;
  }
  .features__content__item::before {
    transform: rotate(-45deg);
    width: 25px;
    height: 25px;
    align-self: center;
  }
  .features__content__item__title {
    font-size: 40px;
  }
  .features__content__item:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid currentColor;
  }
  .journey-block__img {
    width: 130px;
    height: 130px;
    top: -20%;
  }
  .journey-block__content .h2 {
    margin-bottom: 40px;
  }
  .journey-block__content p {
    margin-bottom: 50px;
  }
  .journey-block {
    padding-bottom: 50px;
    padding-top: 70px;
    margin-bottom: 10px;
  }
  .block-top {
    margin-bottom: 30px;
  }
  .blog-list__item__img {
    height: 220px;
  }
  .blog-list {
    margin: 0;
  }
  .blog-list > li {
    margin-bottom: 30px;
    padding: 0;
  }
  .contact-block__decor {
    height: 100px;
  }
  .contact-block__right__top p {
    max-width: 200px;
  }
  .footer__menu li.footer__menu__title {
    margin-bottom: 10px;
  }
  .footer__menu li:not(:last-child) {
    margin-bottom: 7px;
  }
  .footer__right {
    column-count: 2;
    column-gap: 20px;
    page-break-inside: avoid;
    break-inside: avoid;

    .footer__menu {
      width: 100%;
      display: inline-block;
    }
  }
  .inner-page-first-screen {
    height: auto;
    min-height: 330px;
    padding: 120px 0 50px;
    .btn-container {
      display: block;
      .btn {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
    }
  }
  .products-block__item {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 35px;
    &:nth-child(even) {
      flex-direction: column;
    }
    &__img {
      margin-bottom: 35px;
    }
    &__descr {
      padding-left: 0;
      text-align: center;
      display: block;
      .ul-list {
        text-align: left;
        font-size: 14px;
        display: inline-block;
      }
      .link {
        display: block;
      }
    }
  }
  .tabs__list li {
    padding-left: 0.75em;
    padding-right: 0.75em;
    &:first-child {
      padding-left: 0;
    }
  }
  .container {
    padding: 0 10px;
  }
  .ul-list {
    padding-left: 20px;
  }
  .advantages,
  .solution {
    padding: 50px 0;
  }
  .base-covers {
    padding: 50px 0;
    &__left {
        margin-bottom: 50px;
    }
  }
  .base-covers__right__title {
    margin-bottom: 20px;
  }
  .about-audit,
  .scenarios {
    padding: 30px 0;
  }
  .about-audit__content .base-covers__list,
  .about-audit__img {
    margin-top: 30px;
  }
  .scenarios .h2,
  .in-box__content__title {
    margin-bottom: 30px;
  }
  .scenarios__content__item{
    border-right: none !important;
    padding: 20px 0;
    &:last-child {
        border-bottom: 1px solid currentColor !important;
    }
  }
  .scenarios__content__item__title {
    margin-bottom: 1.25em;
  }
  .in-box {
    padding: 0 0 20px;
  }
  .in-box__slider {
    max-width: 280px;
  }
  .journey-block--no-bg .journey-block__content .h2 {
    line-height: 1.2;
    font-size: 26px;
  }
  .services__row {
    flex-wrap: wrap;
    margin: 0;
  }
  .services__item {
    width: 100% !important;
    padding: 0;
    margin-bottom: 20px;
  }
  .services__item__content {
    min-height: 160px;
    .h4 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &::after {
            content: '';
            width: 1em;
            height: 1em;
            flex: none;
            margin-left: 1em;
            background: url('../img/icons/arrow_right.svg') center 0 no-repeat;
            background-size: contain;
        }
    }
  }
  .services {
    padding: 10px 0 30px;
  }
  p {
    line-height: 1.4;
  }
  p:not(:last-child) {
    margin-bottom: 1.5em;
  }
  .feature-list__item {
    text-align: center;
    min-height: 160px;
  }
  .feature-list__item__icon {
    img {
        max-height: 40px;
    }
  }
  .about-team {
    margin: 0 -10px;
  }
  .about-team__img {
    text-align: center;
    line-height: 0;
    background-color: #f5f5f5;
    transform: translateY(0);
    padding: 40px 0 20px;
    img {
        max-width: 160px;
    }
  }
  .about-team__content {
    padding: 0 10px 35px;
    &::before {
        display: none;
    }
    &__icon {
        height: 21px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left;
        }
    }
  }
  .news-slide__content {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .news-date {
    text-align: left;
    margin-top: 20px;
    display: flex;
    align-items: center;
    .day {
        margin-left: 5px;
    }
  }
  .about-page {
    padding: 30px 0 50px;
  }
  .news-slider {
    margin: 10px auto 0;
  }
  .services__item__content {
    padding: 15px;
  } 
  .scenarios__content__item__icon{
    height: 40px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }
  .accept-cookies {
    width: 95%;
    .btn {
      display: block;
      margin: 10px 0;
    }
  }
  .industries-menu__list {
    padding-bottom: 5px;
  }
  .industries-menu-block .container {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .industries-menu-block__title {
    justify-content: space-between;
  }
  .accordeon__title {
    padding-bottom: 2.1rem;
  }
}
// 767
