#overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.8);
  display: none;
  z-index: 80;
}
.popup,
.thanks-popup {
  position: fixed;
  background-color: #fff;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  visibility: hidden;
  padding: 9vh 5vw;
  z-index: 100;
  transition: opacity 0.3s, transform 0.3s;
  &.active {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
  }
  &__content {
    &__title {
      margin-bottom: 4vh;
      p {
        color: var(--text-color-lighter);
        margin-top: 0.5em;
      }
    }
  }
  .btn-container {
    text-align: center;
    margin-top: 5rem;
  }
  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 21px;
    height: 21px;
    color: #5c5c5c;
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background: currentColor;
      position: absolute;
      top: 50%;
      left: 0;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      color: red;
    }
  }
}
.thanks-popup{
  max-width: 320px;
  padding: 7.5rem 3rem;
  &__img {
    margin-bottom: 20px;
  }
}
.accept-cookies {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 90%;
  max-width: 1260px;
  transform: translate(-50%, 0);
  background-color: #fff;
  padding: 2rem 3rem;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 -4px 20px rgba($color: #000000, $alpha: .15);
  z-index: 10;
  .btn {
    font-size: 12px;
    margin: 0 1em;
    padding: 10px 10px 8px;
  }
}