.products-block {
    padding-top: 5rem;
    &__item {
        margin-bottom: 15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:nth-child(even) {
            flex-direction: row-reverse;
            .products-block__item__img {
                &::before {
                    transform: rotate(180deg);
                    left: -1.6rem;
                }
            }
        }
        &__img {
            width: 47%;
            line-height: 0;
            position: relative;
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background: linear-gradient(259.19deg, #00A7D7 17.33%, #FFFFFF 125.59%);
                position: absolute;
                top: 1.6rem;
                left: 1.6rem;

            }
            img {
                position: relative;
                width: 100%;
                z-index: 2;
            }
        }
        &__descr {
            width: 50%;
            padding-left: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .h2 {
                margin-bottom: 0.25em;
            }
            .ul-list {
                margin-bottom: 5rem;
            }
            .link {
                svg {
                    width: 1em;
                    height: .75em;
                }
                span {
                    padding-left: 0.3em;
                }
            }
        }
    }
}
.ul-list {
    list-style-type: disc;
    padding-left: 1.2em;
    li {
        list-style-type: disc;
        &:not(:last-child) {
            margin-bottom: 0.3em;
        }
    }
}