.scenarios {
    padding: 7rem 0 7rem;
    .h2 {
        margin-bottom: 1em;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        &__item {
            width: 50%;
            border-top: 1px solid currentColor;
            padding: 5rem 7rem;
            &:not(:nth-child(even)) {
                border-right: 1px solid currentColor;
            }
            &:last-child {
                border-right: none;
            }
            &__title {
                margin-bottom: 2em;
            }
            &__icon {
                text-align: center;
                margin-bottom: 3rem;
            }
        }

        &--three-column {
            .scenarios__content__item {
                width: 33.333%;
                border-right: 1px solid currentColor;
                &:last-child{
                    border-right: none;
                }
            }
        }
    }
}