.security-flow {
    padding: 5rem 0 10rem;
    &__img {
        text-align: center;
        line-height: 0;
        margin-bottom: 7rem;
    }
    &__content {
        &__item {
            width: 33.333%;
            text-align: center;
            padding: 3em;
            border-top: 1px solid currentColor;
            &:not(:last-child) {
                border-right: 1px solid currentColor;
            }
            .h4 {
                text-transform: uppercase;
                margin-bottom: 1.5em;
            }
            p {
                b{
                    display: block;
                }
            }
        }
    }
}