.services {
  padding: 10rem 0 15rem;
  &__row {
    display: flex;
    margin: 0 -1rem;
    &:nth-child(even) {
        flex-direction: row-reverse;
    }
    &--first-item-lg {
      flex-wrap: wrap;
    }
    &--two-column {
      flex-wrap: wrap;
      .services__item {
        width: 50%;
      }
    }
  }
  &__item {
    padding: 0 1rem;
    margin-bottom: 2rem;
    width: 25%;
    &:first-child {
      width: 50%;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid var(--text-color-lighter);
      padding: 3rem;
      height: 100%;
      min-height: 28rem;
      transition: all .3s;
      .h4 {
        margin-bottom: 1.5em;
        text-transform: uppercase;
      }
      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
      }
      &:hover {
        color: #fff;
        background-color: var(--blue);
        border-color: var(--blue);
      }
    }
  }
}
.services__inner-block {
  padding-bottom: 6rem;
  .services__row {
    margin-bottom: 5rem;
  }
}