.solution {
    padding: 5rem 0;
    &__img {
        width: 48%;
       img {
        width: 100%;
       }
    }
    &__content {
        width: 48%;
    }
}
.accordeon {
    border-bottom: 1px solid currentColor;
    &:first-child {
        border-top: 1px solid currentColor;
    }
    &.active {
        .accordeon__content {
            display: block;
        }
        .accordeon__title {
            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
    &__title {
        position: relative;
        padding: 2.5rem 3rem 2.5rem 0;
        cursor: pointer;
        &::after {
            content: '';
            width: 14px;
            height: 6px;
            background: url('../img/icons/select-arrow.svg') 0 0 no-repeat;
            background-size: contain;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__content {
        display: none;
        margin-bottom: 1.25em;
    }

    &--white {
        .accordeon__title {
            &::after {
                background-image: url('../img/icons/select-arrow_white.svg');
            }
        }
    }
}