.tabs-wrapper {
    padding-bottom: 12rem;
    .tab{
        display: none;
        &.active {
            display: block;
        }
        &__content {
            display: flex;
            .ul-list {
                width: 50%;
            }
            &__img {
                width: 50%;
                text-align: center;
                margin-top: -10%;
            }
        }
    }
}
.tabs__list {
    width: 50%;
    border-bottom: 1px solid var(--text-color-light);
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    li {
        padding: .75em 1em;
        position: relative;
        white-space: nowrap;
        cursor: pointer;
        transition: all .3s;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: currentColor;
            position: absolute;
            left: 0;
            bottom: -1px;
            opacity: 0;
        }
        &.active {
            &::after {
                opacity: 1;
            }
        }
        &:hover {
            color: var(--blue)
        }
    }
}