@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer;
}

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto;
}

select::ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "ProximaNova";
  src: url("../font/ProximaNova/ProximaNova-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../font/ProximaNova/ProximaNova-Extrabld.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../font/ProximaNova/ProximaNova-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../font/ProximaNova/ProximaNova-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../font/ProximaNova/ProximaNova-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../font/ProximaNova/ProximaNova-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../font/ProximaNova/ProximaNovaT-Thin.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

:root {
  --main-font: 'ProximaNova', sans-serif;
  --blue: #00A7D7;
  --text-color: #000;
  --text-color-lighter: #393939;
  --text-color-light: #A9A9A9;
  --grey-bg: rgba(247, 247, 247, 0.6);
}

html, body {
  min-height: 100%;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: var(--main-font);
  line-height: 1.2;
}

.noscroll {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  color: currentColor;
  -webkit-transition: all .2s;
  transition: all .2s;
}

a:hover {
  color: var(--blue);
}

h1, .h1,
h2, .h2 {
  font-size: 6.4rem;
  line-height: 0.9;
  font-weight: 300;
}

h3, .h3 {
  font-size: 2.5rem;
}

h4, .h4 {
  font-size: 2rem;
}

h5, .h5 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.2;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

.font-900 {
  font-weight: 900;
}

.font-600 {
  font-weight: 600;
}

.font-700,
b, strong {
  font-weight: 700;
}

.font-300 {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blue {
  color: var(--blue);
}

.black-light {
  color: var(--text-color-lighter);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.9375em 1.25em;
  min-width: 13.75em;
  color: var(--text-color);
  background: transparent;
  border: 2px solid currentColor;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  background-color: var(--blue);
  border-color: var(--blue);
  color: #fff;
}

.btn:active {
  background: #007fa4;
}

.btn--blue {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn--blue:hover {
  background: #007fa4;
  border-color: #007fa4;
}

.btn--blue:active {
  background: #005871;
  border-color: #005871;
}

.btn--outline-white {
  color: #fff;
}

.btn--outline-white:hover {
  background-color: var(--blue);
  border-color: var(--blue);
  color: #fff;
}

.btn--outline-white:active {
  background: #007fa4;
  border-color: #007fa4;
}

.block-top {
  margin-bottom: 6rem;
}

.block-top .h2, .block-top p {
  width: 50%;
}

.block-top p {
  max-width: 500px;
}

.block-top--full-width .h2, .block-top--full-width p {
  width: 100%;
}

.for-mobile,
.burger {
  display: none;
}

.text-block {
  padding-bottom: 5rem;
}

.text-block h1, .text-block h2 {
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.text-block p {
  color: var(--text-color-lighter);
}

.text-block--page {
  padding: 7rem 0;
}

.text-block--page h1, .text-block--page h2, .text-block--page h3, .text-block--page h4 {
  margin-bottom: 1em;
}

.text-block ol, .text-block ol > li {
  list-style: decimal;
}

.text-block ol {
  padding-left: 1em;
  line-height: 1.3;
  margin: 1.5rem 0;
}

.text-block ol > li:not(:last-child) {
  margin-bottom: .5em;
}

.text-block ul {
  padding-left: 1em;
  line-height: 1.3;
  list-style: disc;
  margin: 1.5rem 0;
}

.text-block ul li {
  list-style: disc;
}

.text-block ul li:not(:last-child) {
  margin-bottom: .5em;
}

.list-plus li {
  position: relative;
  padding-left: 2em;
  margin-bottom: 1.5em;
}

.list-plus li::before {
  content: '+';
  font-size: 2em;
  font-weight: 300;
  position: absolute;
  left: 0;
  top: .32em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--text-color-lighter);
}

.img-block {
  padding: 3rem 0;
  text-align: center;
}

.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("../img/icons/ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/*Header*/
.header {
  width: 100%;
  left: 0;
  top: 0;
  color: #fff;
  position: relative;
  padding-top: 5px;
  z-index: 2;
}

.header--absolute {
  position: fixed;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 10;
}

.header--absolute.scrolled {
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.header--white {
  color: var(--text-color);
  border-bottom: 1px solid #D9D9D9;
}

.header--white .btn--outline-white {
  color: currentColor;
}

.header--white .btn--outline-white:hover {
  color: #fff;
}

.header--white .logo__white {
  display: none;
}

.header--white .burger {
  color: currentColor;
}

.header--white .submenu {
  background: rgba(247, 247, 247, 0.8);
}

.header--dark .logo__dark {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.header .logo {
  display: inline-block;
  position: relative;
}

.header .btn {
  padding: 8px 15px 6px;
  min-width: unset;
  border-width: 1px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2em;
}

.menu > li {
  padding: 1.375em 2em;
}

@media (min-width: 1201px) {
  .menu > li:hover {
    color: var(--blue);
  }
  .menu > li:hover .submenu {
    opacity: 1;
    visibility: visible;
  }
  .menu > li:hover a {
    color: currentColor;
  }
  .menu > li:hover a::after {
    opacity: 1;
  }
}

.menu > li > a {
  font-weight: 400;
  display: block;
  position: relative;
}

.menu > li > a::after {
  content: "";
  width: 120%;
  height: 2px;
  background-color: var(--blue);
  position: absolute;
  bottom: -1.375em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu > li.active > a {
  font-weight: 700;
  color: var(--blue);
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  padding: 1em 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.submenu > ul {
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  color: var(--text-color-light);
}

.submenu > ul a {
  display: block;
  padding: 1em 2em;
  white-space: nowrap;
}

.submenu > ul a:hover, .submenu > ul a.active {
  color: var(--blue);
}

.first-screen {
  background: #000 url("../img/bg/main-screen.jpeg") 0 0 no-repeat;
  background-size: cover;
  padding: 27rem 0 12rem;
  margin-bottom: 5rem;
  color: #fff;
}

.first-screen .h1 {
  font-weight: 300;
  margin-bottom: 1em;
}

.first-screen__top {
  margin-bottom: 6.7rem;
}

.first-screen__top .project-name {
  display: block;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2;
}

.first-screen__top p {
  max-width: 640px;
}

.first-screen__bottom p {
  max-width: 390px;
  text-align: right;
  position: relative;
  padding-bottom: 1em;
}

.first-screen__bottom p::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  bottom: 0;
  left: 0;
}

.security-flow {
  padding: 5rem 0 10rem;
}

.security-flow__img {
  text-align: center;
  line-height: 0;
  margin-bottom: 7rem;
}

.security-flow__content__item {
  width: 33.333%;
  text-align: center;
  padding: 3em;
  border-top: 1px solid currentColor;
}

.security-flow__content__item:not(:last-child) {
  border-right: 1px solid currentColor;
}

.security-flow__content__item .h4 {
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

.security-flow__content__item p b {
  display: block;
}

.industries-block {
  padding: 7rem 0;
}

.industries-list {
  margin: 0 -1rem;
}

.industries-list > li {
  width: 25%;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.industries-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.industries-list__item__descr {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 2.5rem 2.5rem 5rem;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.industries-list__item__descr::after {
  content: '';
  width: 1.75em;
  height: 1.75em;
  background: url("../img/icons/arrow-top_white.svg") 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.industries-list__item__descr .h3 {
  line-height: 1.2;
  margin-bottom: 1em;
}

.industries-list__item__descr .list, .industries-list__item__descr .list li {
  list-style-type: disc;
}

.industries-list__item__descr .list {
  padding-left: 1em;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.industries-list__item__descr .list li {
  line-height: 1.2;
  margin-bottom: 0.5em;
}

.industries-list__item__img {
  line-height: 0;
}

.industries-list__item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.industries-list__item__common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.industries-list__item__common .h2 {
  font-size: 5rem;
  line-height: 1.1;
}

.industries-list__item:hover .industries-list__item__descr {
  background-color: var(--blue);
  text-shadow: none;
}

.industries-list__item:hover .industries-list__item__descr::after {
  opacity: 1;
}

.industries-list__item:hover .industries-list__item__descr .list {
  opacity: 1;
}

.industries-menu-block .container {
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

.industries-menu-block__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.industries-menu-block__title::after {
  content: '';
  width: 1.2em;
  height: 1.2em;
  background: url("../img/icons/arrow_right.svg") 0 center no-repeat;
  background-size: contain;
  margin-left: 0.5em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.industries-menu__list {
  font-size: 12px;
}

.industries-menu__list li {
  padding: 0 1em;
}

.industries-menu__list a.active {
  color: var(--blue);
}

.features {
  padding: 7rem 0;
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 2rem 0;
}

.features__content__item {
  width: 50%;
  padding-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__content__item::before {
  content: '';
  width: 3.5rem;
  height: 3.5rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  background: url("../img/icons/arrow-bottom_black.svg") 0 0 no-repeat;
  background-size: contain;
  -ms-flex-item-align: normal;
      -ms-grid-row-align: normal;
      align-self: normal;
  margin-right: 4rem;
}

.features__content__item__title {
  font-size: 10rem;
  font-weight: 300;
  line-height: 1;
}

.features__content__item__descr {
  margin-left: 1.4em;
}

.journey-block {
  background: #0297c3 url("../img/bg/journey.jpeg") 0 0 no-repeat;
  background-size: cover;
  padding: 10rem 0 12rem;
  position: relative;
  overflow: hidden;
  color: #fff;
  margin-bottom: 7rem;
}

.journey-block__content {
  width: 50%;
}

.journey-block__content--full-width {
  width: 100%;
}

.journey-block__content .h2 {
  margin-bottom: 0.5em;
  line-height: 1.1;
}

.journey-block__content p {
  max-width: 500px;
  margin-bottom: 5em;
}

.journey-block__content .btn:hover {
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.journey-block__content__item {
  margin-bottom: 2rem;
}

.journey-block__content__item .h4 {
  margin-bottom: 1em;
}

.journey-block__content__item p {
  margin-bottom: 2rem;
  max-width: none;
}

.journey-block__content__item ul, .journey-block__content__item ol {
  margin-bottom: 2em;
}

.journey-block__img {
  position: absolute;
  right: -14%;
  top: 8rem;
  width: 80rem;
  height: 80rem;
}

.journey-block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation: rotate 60s infinite linear;
          animation: rotate 60s infinite linear;
}

.journey-block--no-bg {
  background: var(--blue);
  margin-bottom: 0 !important;
}

.journey-block--no-bg .journey-block__content .h2 {
  margin-bottom: 0.75em;
}

.journey-block--no-bg .journey-block__content {
  width: 68%;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.blog {
  padding: 7rem 0;
  position: relative;
  z-index: 2;
}

.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1rem;
}

.blog-list > li {
  width: 25%;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.blog-list__item__img {
  display: block;
  width: 100%;
  height: 25rem;
  line-height: 0;
  margin-bottom: 2rem;
  overflow: hidden;
}

.blog-list__item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.blog-list__item__img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog-list__item__content__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  line-height: 1.2;
  height: 3.6em;
  margin-bottom: 1em;
}

.blog-list__item__content__options {
  color: var(--text-color-light);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid currentColor;
  font-size: 1.4rem;
}

.blog-list__item__content__options .tags {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.date {
  white-space: nowrap;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: var(--text-color-light);
  text-transform: lowercase;
}

.tags li {
  margin: 0 0.3em;
}

.tags--sort {
  margin-bottom: 10px;
}

.tags--sort li {
  margin-bottom: 10px;
}

.tags--sort li a.active {
  color: var(--blue);
}

.blog-page {
  padding: 7rem 0 15rem;
}

.contact-block {
  position: relative;
  padding: 7rem 0 10rem;
}

.contact-block__left {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-block__left__top {
  margin-bottom: 5rem;
}

.contact-block__left__top .h2 {
  margin-bottom: 0.5em;
}

.contact-block__left__top p {
  max-width: 280px;
}

.contact-block__right {
  width: 45%;
}

.contact-block__right__top {
  display: none;
}

.contact-block form,
.contact-block .container {
  position: relative;
  z-index: 2;
}

.contact-block__decor {
  position: absolute;
  top: -30%;
  left: 0;
  height: 80rem;
}

.contact-block__decor img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.input-wrapper:not(:last-child) {
  margin-bottom: 20px;
}

.input-wrapper input, .input-wrapper textarea {
  display: block;
  width: 100%;
  font-family: var(--main-font);
  color: var(--text-color);
  border: none;
  border-bottom: 1px solid currentColor;
  font-size: 16px;
  height: 50px;
}

.input-wrapper input::-webkit-input-placeholder, .input-wrapper textarea::-webkit-input-placeholder {
  font-family: var(--main-font);
  color: var(--text-color-lighter);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.input-wrapper input:-ms-input-placeholder, .input-wrapper textarea:-ms-input-placeholder {
  font-family: var(--main-font);
  color: var(--text-color-lighter);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.input-wrapper input::-ms-input-placeholder, .input-wrapper textarea::-ms-input-placeholder {
  font-family: var(--main-font);
  color: var(--text-color-lighter);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.input-wrapper input::placeholder, .input-wrapper textarea::placeholder {
  font-family: var(--main-font);
  color: var(--text-color-lighter);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.input-wrapper input:focus::-webkit-input-placeholder, .input-wrapper textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input-wrapper input:focus:-ms-input-placeholder, .input-wrapper textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.input-wrapper input:focus::-ms-input-placeholder, .input-wrapper textarea:focus::-ms-input-placeholder {
  opacity: 0;
}

.input-wrapper input:focus::placeholder, .input-wrapper textarea:focus::placeholder {
  opacity: 0;
}

.input-wrapper textarea {
  resize: none;
}

.input-wrapper.error input, .input-wrapper.error textarea {
  border-color: currentColor;
  color: red;
}

.input-wrapper.error input::-webkit-input-placeholder, .input-wrapper.error textarea::-webkit-input-placeholder {
  color: currentColor;
}

.input-wrapper.error input:-ms-input-placeholder, .input-wrapper.error textarea:-ms-input-placeholder {
  color: currentColor;
}

.input-wrapper.error input::-ms-input-placeholder, .input-wrapper.error textarea::-ms-input-placeholder {
  color: currentColor;
}

.input-wrapper.error input::placeholder, .input-wrapper.error textarea::placeholder {
  color: currentColor;
}

.input-wrapper.error .error-text {
  display: block;
}

.input-wrapper .error-text {
  font-size: 12px;
  color: red;
  margin-top: 5px;
  display: none;
}

.contact-page {
  padding: 6rem 0 12rem;
}

.contact-page__content .social {
  margin: 3rem 0;
}

.map {
  margin: 5rem 0;
  height: 500px;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.inner-page-first-screen {
  height: 500px;
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-page-first-screen .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
}

.inner-page-first-screen .video video, .inner-page-first-screen .video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.inner-page-first-screen .container {
  position: relative;
  padding-top: 5rem;
  z-index: 1;
}

.inner-page-first-screen__content .h1 {
  margin-bottom: 0.75em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  max-width: 860px;
  line-height: 1.1;
}

.inner-page-first-screen__content p {
  max-width: 600px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.inner-page-first-screen__content .btn-container {
  margin-top: 8rem;
}

.inner-page-first-screen__content .btn-container .btn:not(:last-child) {
  margin-right: 3.7rem;
}

.breadcrumbs {
  margin: 4.5rem 0;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color-light);
  text-transform: capitalize;
  font-size: 12px;
}

.breadcrumbs__list li:not(:last-child) {
  margin-right: 0.5em;
}

.breadcrumbs__list li:not(:last-child)::after {
  content: '–';
  display: inline-block;
  margin-left: 0.3em;
}

.breadcrumbs__list li:last-child a {
  cursor: default;
  pointer-events: none;
}

.products-block {
  padding-top: 5rem;
}

.products-block__item {
  margin-bottom: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-block__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.products-block__item:nth-child(even) .products-block__item__img::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: -1.6rem;
}

.products-block__item__img {
  width: 47%;
  line-height: 0;
  position: relative;
}

.products-block__item__img::before {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(259.19deg, #00A7D7 17.33%, #FFFFFF 125.59%);
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
}

.products-block__item__img img {
  position: relative;
  width: 100%;
  z-index: 2;
}

.products-block__item__descr {
  width: 50%;
  padding-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.products-block__item__descr .h2 {
  margin-bottom: 0.25em;
}

.products-block__item__descr .ul-list {
  margin-bottom: 5rem;
}

.products-block__item__descr .link svg {
  width: 1em;
  height: .75em;
}

.products-block__item__descr .link span {
  padding-left: 0.3em;
}

.ul-list {
  list-style-type: disc;
  padding-left: 1.2em;
}

.ul-list li {
  list-style-type: disc;
}

.ul-list li:not(:last-child) {
  margin-bottom: 0.3em;
}

.tabs-wrapper {
  padding-bottom: 12rem;
}

.tabs-wrapper .tab {
  display: none;
}

.tabs-wrapper .tab.active {
  display: block;
}

.tabs-wrapper .tab__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-wrapper .tab__content .ul-list {
  width: 50%;
}

.tabs-wrapper .tab__content__img {
  width: 50%;
  text-align: center;
  margin-top: -10%;
}

.tabs__list {
  width: 50%;
  border-bottom: 1px solid var(--text-color-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}

.tabs__list li {
  padding: .75em 1em;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.tabs__list li::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  left: 0;
  bottom: -1px;
  opacity: 0;
}

.tabs__list li.active::after {
  opacity: 1;
}

.tabs__list li:hover {
  color: var(--blue);
}

.solution {
  padding: 5rem 0;
}

.solution__img {
  width: 48%;
}

.solution__img img {
  width: 100%;
}

.solution__content {
  width: 48%;
}

.accordeon {
  border-bottom: 1px solid currentColor;
}

.accordeon:first-child {
  border-top: 1px solid currentColor;
}

.accordeon.active .accordeon__content {
  display: block;
}

.accordeon.active .accordeon__title::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.accordeon__title {
  position: relative;
  padding: 2.5rem 3rem 2.5rem 0;
  cursor: pointer;
}

.accordeon__title::after {
  content: '';
  width: 14px;
  height: 6px;
  background: url("../img/icons/select-arrow.svg") 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordeon__content {
  display: none;
  margin-bottom: 1.25em;
}

.accordeon--white .accordeon__title::after {
  background-image: url("../img/icons/select-arrow_white.svg");
}

.advantages {
  padding: 8rem 0;
  min-height: 57rem;
  background: #0297c3 url("../img/bg/journey.jpeg") 0 0 no-repeat;
  color: #fff;
}

.advantages__left {
  width: 40%;
  line-height: 1.2;
}

.advantages__right {
  width: 50%;
}

.base-covers {
  padding: 12rem 0;
}

.base-covers__left {
  width: 47%;
}

.base-covers__right {
  width: 47%;
}

.base-covers__right__title {
  margin-bottom: 1em;
}

.base-covers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  line-height: 1.3;
}

.base-covers__list li {
  width: 48%;
  margin-bottom: 2em;
}

.base-covers__list li a {
  display: inline-block;
  position: relative;
  padding-left: 1.5em;
}

.base-covers__list li a::before {
  content: '';
  width: 0.92em;
  height: 1.7em;
  background: url("../img/icons/angle-right_blue.svg") 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.base-covers__list--full-width li {
  width: 100%;
}

.about-audit {
  padding: 10rem 0;
}

.about-audit__content {
  width: 48%;
}

.about-audit__content .base-covers__list {
  margin-top: 3rem;
}

.about-audit__img {
  width: 48%;
}

.about-audit__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.scenarios {
  padding: 7rem 0 7rem;
}

.scenarios .h2 {
  margin-bottom: 1em;
}

.scenarios__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.scenarios__content__item {
  width: 50%;
  border-top: 1px solid currentColor;
  padding: 5rem 7rem;
}

.scenarios__content__item:not(:nth-child(even)) {
  border-right: 1px solid currentColor;
}

.scenarios__content__item:last-child {
  border-right: none;
}

.scenarios__content__item__title {
  margin-bottom: 2em;
}

.scenarios__content__item__icon {
  text-align: center;
  margin-bottom: 3rem;
}

.scenarios__content--three-column .scenarios__content__item {
  width: 33.333%;
  border-right: 1px solid currentColor;
}

.scenarios__content--three-column .scenarios__content__item:last-child {
  border-right: none;
}

.in-box {
  padding: 5rem 0 15rem;
}

.in-box__content {
  width: 50%;
}

.in-box__content__title {
  margin-bottom: 2em;
}

.in-box__content .list-plus {
  width: 80%;
}

.in-box__img {
  width: 50%;
}

.in-box__slider {
  width: 420px;
  margin: 0 auto;
}

.in-box__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.in-box__slider .slick-slide {
  height: auto;
  text-align: center;
}

.in-box__slider .slick-slide img {
  margin: 0 auto;
}

.in-box__slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 2;
}

.in-box__slider .slick-arrow:hover {
  color: var(--blue);
}

.in-box__slider .slick-arrow.prev-arrow {
  left: -5rem;
}

.in-box__slider .slick-arrow.next-arrow {
  right: -5rem;
}

.services {
  padding: 10rem 0 15rem;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1rem;
}

.services__row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.services__row--first-item-lg {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__row--two-column {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__row--two-column .services__item {
  width: 50%;
}

.services__item {
  padding: 0 1rem;
  margin-bottom: 2rem;
  width: 25%;
}

.services__item:first-child {
  width: 50%;
}

.services__item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid var(--text-color-lighter);
  padding: 3rem;
  height: 100%;
  min-height: 28rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.services__item__content .h4 {
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

.services__item__content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.services__item__content:hover {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
}

.services__inner-block {
  padding-bottom: 6rem;
}

.services__inner-block .services__row {
  margin-bottom: 5rem;
}

.about-page {
  padding: 5rem 0 15rem;
}

.about-page .feature-list {
  margin-bottom: 12rem;
  margin-top: 10rem;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1rem 5rem;
}

.feature-list li {
  width: 25%;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.feature-list__item {
  border: 1px solid var(--text-color-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 3rem;
  min-height: 32rem;
}

.feature-list__item__icon {
  margin-bottom: 3rem;
}

.feature-list__item p {
  min-height: 30%;
  text-transform: uppercase;
}

.about-team {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 7rem;
}

.about-team__img {
  width: 48%;
  position: relative;
  -webkit-transform: translateY(-4.5rem);
          transform: translateY(-4.5rem);
  z-index: 1;
}

.about-team__img img {
  width: 100%;
  height: 100%;
  max-width: 43rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-team__content {
  width: 50%;
  background-color: #F5F5F5;
  padding: 4rem;
  position: relative;
}

.about-team__content::before {
  content: '';
  background-color: #F5F5F5;
  width: 80%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 99%;
}

.about-team__content__icon {
  margin-bottom: 3rem;
}

.about-team__content .member-name {
  margin-top: 3rem;
  line-height: 1.2;
}

.news-slider {
  width: 90%;
  max-width: 1000px;
  margin: 6rem auto 4rem;
}

.news-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 2;
}

.news-slider .slick-arrow:hover {
  color: var(--blue);
}

.news-slider .slick-arrow.prev-arrow {
  left: -10rem;
}

.news-slider .slick-arrow.next-arrow {
  right: -10rem;
}

.news-slide {
  padding: 0 5px;
}

.news-slide__content {
  border: 1px solid var(--text-color-light);
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-date {
  color: var(--text-color-light);
  margin-right: 7rem;
}

.news-body__link {
  text-decoration: underline;
  text-transform: capitalize;
  line-height: 1.2;
  font-size: 2rem;
}

.news-body__text {
  font-size: 12px;
  color: var(--text-color-light);
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 80;
}

.popup,
.thanks-popup {
  position: fixed;
  background-color: #fff;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  max-width: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  opacity: 0;
  visibility: hidden;
  padding: 9vh 5vw;
  z-index: 100;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.popup.active,
.thanks-popup.active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
}

.popup__content__title,
.thanks-popup__content__title {
  margin-bottom: 4vh;
}

.popup__content__title p,
.thanks-popup__content__title p {
  color: var(--text-color-lighter);
  margin-top: 0.5em;
}

.popup .btn-container,
.thanks-popup .btn-container {
  text-align: center;
  margin-top: 5rem;
}

.popup .close,
.thanks-popup .close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 21px;
  height: 21px;
  color: #5c5c5c;
}

.popup .close::before, .popup .close::after,
.thanks-popup .close::before,
.thanks-popup .close::after {
  content: "";
  width: 100%;
  height: 1px;
  background: currentColor;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup .close::after,
.thanks-popup .close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup .close:hover,
.thanks-popup .close:hover {
  color: red;
}

.thanks-popup {
  max-width: 320px;
  padding: 7.5rem 3rem;
}

.thanks-popup__img {
  margin-bottom: 20px;
}

.accept-cookies {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 90%;
  max-width: 1260px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #fff;
  padding: 2rem 3rem;
  text-align: center;
  font-size: 14px;
  -webkit-box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.accept-cookies .btn {
  font-size: 12px;
  margin: 0 1em;
  padding: 10px 10px 8px;
}

/*Footer*/
.footer {
  background: #030510;
  overflow: hidden;
  position: relative;
  padding: 7rem 0;
  color: #fff;
  z-index: 2;
}

.footer__left {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left__bottom {
  color: var(--text-color-light);
}

.footer__left__bottom p {
  max-width: 286px;
}

.footer__left__bottom .social {
  margin-top: 4rem;
}

.footer__right {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__right .footer__menu {
  width: 33.33%;
}

.footer__menu {
  font-size: 1.4rem;
}

.footer__menu:not(:last-child) {
  margin-bottom: 7rem;
}

.footer__menu li {
  padding-right: 2em;
}

.footer__menu li:not(:last-child) {
  margin-bottom: 1.5em;
}

.footer__menu a {
  color: var(--text-color-light);
}

.footer__menu a:hover {
  color: var(--blue);
}

.footer__menu li.footer__menu__title {
  margin-bottom: 2em;
  font-size: 1.14em;
}

.footer__menu li.footer__menu__title a {
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social li {
  margin: 0 .5em;
}

.social li:first-child {
  margin-left: 0;
}

.social li a:hover {
  opacity: 0.8;
}

@media (max-width: 1440px) {
  html {
    font-size: 0.7vw;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 0.8vw;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 30px;
    height: 16px;
    position: relative;
    color: #fff;
  }
  .burger span {
    width: 100%;
    height: 2px;
    background-color: currentColor;
  }
  .header {
    padding: 20px 0;
    z-index: 10;
  }
  .header__right {
    position: absolute;
    height: auto;
    max-height: calc(100vh - 76px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: none;
    top: 100%;
    left: 0;
    color: var(--text-color);
    padding: 20px 20px 70px;
  }
  .header__right .btn--outline-white {
    color: currentColor;
  }
  .menu {
    display: block;
    width: 100%;
    margin-right: 0;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .menu > li {
    padding: 0;
    margin-bottom: 0.5em;
  }
  .menu > li > a {
    padding: 5px 0;
  }
  .menu .for-mobile {
    display: block;
  }
  .menu .has-submenu > a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu .has-submenu > a::after {
    content: "";
    width: 7px;
    height: 7px;
    border-bottom: 1px solid currentColor;
    border-right: 1px solid currentColor;
    position: static;
    bottom: 0;
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(-45deg);
            transform: translate(0, 0) rotate(-45deg);
    background: transparent;
  }
  .menu-open {
    overflow: hidden;
  }
  .menu-open .header::before {
    content: "";
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
  .menu-open .header--dark {
    background-color: #fff;
  }
  .menu-open .header--dark .logo__dark {
    opacity: 1;
  }
  .menu-open .header--dark .logo__white {
    opacity: 0;
  }
  .menu-open .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 18px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 18px 20px rgba(0, 0, 0, 0.2);
    z-index: 5;
  }
  .menu-open .burger {
    color: var(--text-color);
  }
  .menu-open .burger span {
    position: absolute;
    left: 0;
    top: 50%;
  }
  .menu-open .burger span:nth-child(2) {
    opacity: 0;
  }
  .menu-open .burger span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-open .burger span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .first-screen__bottom p,
  .first-screen__top p {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }
  .first-screen__top p {
    max-width: 500px;
  }
  .security-flow__img img {
    width: 100%;
    max-width: 700px;
  }
  .industries-list__item {
    display: block;
  }
  .industries-list__item__descr {
    position: static;
    height: auto;
    padding: 0;
    text-shadow: none;
    margin-top: 10px;
  }
  .industries-list__item__descr .list {
    display: none;
  }
  .industries-list__item__descr .h3 {
    color: var(--text-color);
    font-size: 16px;
    margin-bottom: 0;
  }
  .industries-list__item__common {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    padding-bottom: 3.4rem;
  }
  .submenu {
    position: static;
    opacity: 1;
    visibility: visible;
    background: transparent;
    padding-bottom: 0.5em;
    display: none;
    top: 0;
  }
  .submenu > ul {
    display: block;
    color: var(--text-color);
    font-size: 16px;
    padding: 0;
  }
  .submenu > ul a {
    padding: 10px 0 5px 2em;
  }
  .submenu-open {
    color: var(--blue);
  }
  .submenu-open > a::after {
    -webkit-transform: translate(0, 0) rotate(45deg) !important;
            transform: translate(0, 0) rotate(45deg) !important;
  }
  .submenu-open .submenu {
    display: block;
  }
  a:hover {
    color: currentColor;
  }
  .journey-block__img {
    top: 13rem;
    width: 65rem;
    height: 65rem;
  }
  .scenarios__content__item {
    padding: 3.5rem 5rem;
  }
  .news-slider .slick-arrow.next-arrow {
    right: -5rem;
  }
  .news-slider .slick-arrow.prev-arrow {
    left: -5rem;
  }
}

@media (max-width: 990px) {
  html {
    font-size: 1.3vw;
  }
  .first-screen {
    position: relative;
    padding: 20rem 0 8rem;
  }
  .first-screen::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
  }
  .first-screen .container {
    position: relative;
    z-index: 2;
  }
  .security-flow__content__item {
    padding: 1.5em;
  }
  .features__content,
  .contact-block__right__top,
  .solution .container,
  .advantages .container,
  .about-audit .container,
  .in-box .container,
  .about-page .block-top,
  .industries-menu-block .container {
    display: block;
  }
  .contact-block__left__top,
  .tab__content__img {
    display: none;
  }
  .features__content__item,
  .contact-block__right,
  .contact-block__left,
  .footer__right,
  .footer__left,
  .footer__left__bottom,
  .tabs-wrapper .tab__content .ul-list,
  .tabs__list,
  .solution__content,
  .solution__img,
  .advantages__left,
  .advantages__right,
  .about-audit__content,
  .about-audit__img,
  .in-box__content,
  .in-box__img,
  .about-page .block-top .h2,
  .about-page .block-top p {
    width: 100%;
  }
  .journey-block__content {
    width: 80%;
  }
  .blog-list > li,
  .footer__right .footer__menu,
  .feature-list li {
    width: 50%;
  }
  .industries-list > li,
  .about-team__img {
    width: 33.333%;
  }
  .features__content__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .journey-block__img {
    width: 400px;
    height: 400px;
    top: 60%;
  }
  .blog {
    padding: 40px 0;
  }
  .journey-block {
    margin-bottom: 30px;
  }
  .contact-block .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact-block__right {
    margin-bottom: 40px;
  }
  .contact-block__right__top {
    margin-bottom: 30px;
  }
  .contact-block__right__top .h2 {
    margin-bottom: 0.5em;
  }
  .contact-block__right__top p {
    max-width: 280px;
  }
  h1,
  .h1,
  h2,
  .h2 {
    font-size: 40px;
  }
  .features__content__item__title {
    font-size: 70px;
  }
  .industries-list__item__common .h2 {
    font-size: 5vw;
  }
  .industries-list li:first-child {
    width: 66.6666%;
  }
  .footer {
    padding-bottom: 30px;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__left__bottom {
    border-bottom: 1px solid currentColor;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .footer__right .footer__menu {
    margin-bottom: 30px;
  }
  .footer__left__bottom .social {
    margin-top: 20px;
  }
  .security-flow {
    padding-bottom: 5rem;
  }
  .contact-block__decor {
    left: auto;
    right: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    height: 200px;
    top: -3%;
  }
  .products-block__item__descr {
    padding-left: 3rem;
  }
  .products-block__item__descr .ul-list {
    margin-bottom: 3rem;
  }
  .tabs__list {
    font-size: 18px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .solution__img {
    text-align: center;
    margin-bottom: 30px;
  }
  .solution__img img {
    max-width: 500px;
  }
  .advantages {
    min-height: auto;
  }
  .advantages__left {
    margin-bottom: 50px;
  }
  .about-audit,
  .services {
    padding: 50px 0;
  }
  .about-audit__img {
    text-align: center;
    margin-top: 50px;
  }
  .about-audit__img img {
    max-width: 500px;
  }
  .in-box__img {
    margin-top: 50px;
  }
  .scenarios__content__item {
    padding: 2.5rem;
  }
  .services__item:first-child,
  .services__item {
    width: 33.333%;
  }
  .services__row--two-column .services__item {
    width: 50%;
  }
  .about-page .block-top .h2 {
    margin-bottom: 30px;
  }
  .about-team__content {
    width: 64%;
  }
  .about-team__content::before {
    width: 40%;
  }
  .news-date {
    margin-right: 3rem;
  }
  .services__item__content {
    padding: 1.5rem;
  }
  .map {
    height: 350px;
  }
  .industries-menu__list {
    white-space: nowrap;
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
  }
  .industries-menu__list li:first-child {
    padding-left: 0;
  }
  .industries-menu-block__title::after {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@media (max-width: 767px) {
  .wrapper {
    overflow-x: hidden;
  }
  html {
    font-size: 1.4vw;
  }
  h1,
  .h1,
  h2,
  .h2 {
    font-size: 30px;
  }
  h3,
  .h3 {
    font-size: 22px;
  }
  h4,
  .h4,
  .btn,
  .news-body__link {
    font-size: 16px;
  }
  h5,
  .h5,
  p,
  .features__content__item__descr,
  .footer__menu,
  .footer__menu li.footer__menu__title,
  .ul-list li,
  .tabs__list,
  .accordeon__title,
  .base-covers__list,
  .list-plus,
  ol,
  .news-body__lin,
  .tags--sort,
  .text-block ul,
  .ul-list,
  body {
    font-size: 14px;
  }
  .industries-list__item__descr .h3,
  .blog-list__item__content__options {
    font-size: 12px;
  }
  .first-screen__top p {
    max-width: 270px;
  }
  .for-mobile,
  .first-screen__bottom,
  .block-top,
  .security-flow__content,
  .footer__right,
  .base-covers .container,
  .about-team {
    display: block;
  }
  .for-mobile.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first-screen__bottom p,
  .block-top .h2 br,
  .blog .block-top .link,
  .news-body__text {
    display: none;
  }
  .popup .btn-container .btn,
  .header__right .btn,
  .block-top .h2,
  .block-top p,
  .security-flow__content__item,
  .journey-block__content,
  .btn,
  .blog-list > li,
  .products-block__item__img,
  .products-block__item__descr,
  .base-covers__left,
  .base-covers__right,
  .base-covers__list li,
  .journey-block--no-bg .journey-block__content,
  .scenarios__content__item,
  .in-box__slider,
  .feature-list li,
  .about-team__img,
  .about-team__content,
  .scenarios__content--three-column .scenarios__content__item,
  .industries-menu-block__title {
    width: 100%;
  }
  .first-screen__bottom .btn {
    width: 100%;
  }
  .first-screen__bottom .btn:not(:last-child) {
    margin-bottom: 15px;
  }
  .input-wrapper input,
  .input-wrapper textarea {
    height: 40px;
  }
  .input-wrapper input::-webkit-input-placeholder,
  .input-wrapper textarea::-webkit-input-placeholder {
    font-size: 12px;
  }
  .input-wrapper input:-ms-input-placeholder,
  .input-wrapper textarea:-ms-input-placeholder {
    font-size: 12px;
  }
  .input-wrapper input::-ms-input-placeholder,
  .input-wrapper textarea::-ms-input-placeholder {
    font-size: 12px;
  }
  .input-wrapper input::placeholder,
  .input-wrapper textarea::placeholder {
    font-size: 12px;
  }
  .block-top .h2,
  .first-screen {
    margin-bottom: 20px;
  }
  .first-screen {
    min-height: 100vh;
  }
  .security-flow {
    padding: 30px 0;
    margin: 0 -20px;
  }
  .security-flow .block-top,
  .security-flow .security-flow__img {
    padding-left: 20px;
    padding-right: 20px;
  }
  .security-flow__content__item:not(:last-child) {
    border-right: none;
  }
  .security-flow__content__item {
    padding: 30px 20px;
  }
  .security-flow__content__item:last-child {
    border-bottom: 1px solid currentColor;
  }
  .security-flow__content__item .h4 {
    margin-bottom: 1em;
  }
  .industries-list__item__common .h2 {
    font-size: 8vw;
  }
  .features__content__item::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 25px;
    height: 25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .features__content__item__title {
    font-size: 40px;
  }
  .features__content__item:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid currentColor;
  }
  .journey-block__img {
    width: 130px;
    height: 130px;
    top: -20%;
  }
  .journey-block__content .h2 {
    margin-bottom: 40px;
  }
  .journey-block__content p {
    margin-bottom: 50px;
  }
  .journey-block {
    padding-bottom: 50px;
    padding-top: 70px;
    margin-bottom: 10px;
  }
  .block-top {
    margin-bottom: 30px;
  }
  .blog-list__item__img {
    height: 220px;
  }
  .blog-list {
    margin: 0;
  }
  .blog-list > li {
    margin-bottom: 30px;
    padding: 0;
  }
  .contact-block__decor {
    height: 100px;
  }
  .contact-block__right__top p {
    max-width: 200px;
  }
  .footer__menu li.footer__menu__title {
    margin-bottom: 10px;
  }
  .footer__menu li:not(:last-child) {
    margin-bottom: 7px;
  }
  .footer__right {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-break-inside: avoid;
            break-inside: avoid;
  }
  .footer__right .footer__menu {
    width: 100%;
    display: inline-block;
  }
  .inner-page-first-screen {
    height: auto;
    min-height: 330px;
    padding: 120px 0 50px;
  }
  .inner-page-first-screen .btn-container {
    display: block;
  }
  .inner-page-first-screen .btn-container .btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .products-block__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 35px;
  }
  .products-block__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products-block__item__img {
    margin-bottom: 35px;
  }
  .products-block__item__descr {
    padding-left: 0;
    text-align: center;
    display: block;
  }
  .products-block__item__descr .ul-list {
    text-align: left;
    font-size: 14px;
    display: inline-block;
  }
  .products-block__item__descr .link {
    display: block;
  }
  .tabs__list li {
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
  .tabs__list li:first-child {
    padding-left: 0;
  }
  .container {
    padding: 0 10px;
  }
  .ul-list {
    padding-left: 20px;
  }
  .advantages,
  .solution {
    padding: 50px 0;
  }
  .base-covers {
    padding: 50px 0;
  }
  .base-covers__left {
    margin-bottom: 50px;
  }
  .base-covers__right__title {
    margin-bottom: 20px;
  }
  .about-audit,
  .scenarios {
    padding: 30px 0;
  }
  .about-audit__content .base-covers__list,
  .about-audit__img {
    margin-top: 30px;
  }
  .scenarios .h2,
  .in-box__content__title {
    margin-bottom: 30px;
  }
  .scenarios__content__item {
    border-right: none !important;
    padding: 20px 0;
  }
  .scenarios__content__item:last-child {
    border-bottom: 1px solid currentColor !important;
  }
  .scenarios__content__item__title {
    margin-bottom: 1.25em;
  }
  .in-box {
    padding: 0 0 20px;
  }
  .in-box__slider {
    max-width: 280px;
  }
  .journey-block--no-bg .journey-block__content .h2 {
    line-height: 1.2;
    font-size: 26px;
  }
  .services__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .services__item {
    width: 100% !important;
    padding: 0;
    margin-bottom: 20px;
  }
  .services__item__content {
    min-height: 160px;
  }
  .services__item__content .h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services__item__content .h4::after {
    content: '';
    width: 1em;
    height: 1em;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-left: 1em;
    background: url("../img/icons/arrow_right.svg") center 0 no-repeat;
    background-size: contain;
  }
  .services {
    padding: 10px 0 30px;
  }
  p {
    line-height: 1.4;
  }
  p:not(:last-child) {
    margin-bottom: 1.5em;
  }
  .feature-list__item {
    text-align: center;
    min-height: 160px;
  }
  .feature-list__item__icon img {
    max-height: 40px;
  }
  .about-team {
    margin: 0 -10px;
  }
  .about-team__img {
    text-align: center;
    line-height: 0;
    background-color: #f5f5f5;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding: 40px 0 20px;
  }
  .about-team__img img {
    max-width: 160px;
  }
  .about-team__content {
    padding: 0 10px 35px;
  }
  .about-team__content::before {
    display: none;
  }
  .about-team__content__icon {
    height: 21px;
  }
  .about-team__content__icon img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: left;
       object-position: left;
  }
  .news-slide__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .news-date {
    text-align: left;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-date .day {
    margin-left: 5px;
  }
  .about-page {
    padding: 30px 0 50px;
  }
  .news-slider {
    margin: 10px auto 0;
  }
  .services__item__content {
    padding: 15px;
  }
  .scenarios__content__item__icon {
    height: 40px;
  }
  .scenarios__content__item__icon img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .accept-cookies {
    width: 95%;
  }
  .accept-cookies .btn {
    display: block;
    margin: 10px 0;
  }
  .industries-menu__list {
    padding-bottom: 5px;
  }
  .industries-menu-block .container {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .industries-menu-block__title {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .accordeon__title {
    padding-bottom: 2.1rem;
  }
}
